<!--<footer class="footer">-->
<div>
  <div *ngIf="userIsLogging" class="modal fade show in danger" id="myLoginModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" (click)="hideLoginComponent()">&times;</button>
        </div>
        <div class="modal-body">
          <p><app-logincomponent></app-logincomponent></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="hideLoginComponent()">Schliessen</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="showRegister" class="modal fade show in danger" id="myRegisterModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" (click)="hideRegisterComponent()">&times;</button>
        </div>
        <div class="modal-body">
          <p><app-user></app-user></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="hideRegisterComponent()">Schliessen</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="showPwdChangeComponent" class="modal fade show in danger" id="myPwdChangeModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" (click)="hidePwdChangeComponent()">&times;</button>
          <h1>Passwort ändern</h1>
        </div>
        <div class="modal-body">
          <p><app-passwordchange></app-passwordchange></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="hidePwdChangeComponent()">Schliessen</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--</footer>-->
