<!--<form name="form" (ngSubmit)="f.form.valid && addUser()" #f="ngForm" novalidate>-->
<form [formGroup]="pwdForm" novalidate>
  <div class="col-md-12">
    <div class="card">
      <div class="card-block">
        <div class="form-group">
          <i class="fa fa-envelope prefix"></i>
          <label for="oldPassword">Bisheriges Passwort</label>
          <input type="password" class="form-control" name="oldPassword" [(ngModel)]="pwdModel.oldpwd" formControlName="oldpwd"/>
        </div>
        <div class="form-group">
          <i class="fa fa-lock prefix"></i>
          <label formGroupName="passwords">Neues Passwort (min. 10 Zeichen lang)<br />
            <input type="password" [(ngModel)]="pwdModel.newpwd" formControlName="password"/>
          </label>
        </div>
        <div class="form-group">
          <i class="fa fa-lock prefix"></i>
          <label formGroupName="passwords">Neues Passwort wiederholen<br />
            <input type="password" formControlName="passwordRepeat"/>
          </label>
          <br />
          <br />
          <div class="ra-msg error" *ngIf="pwdForm.controls.passwords.hasError('passwordsNotEqual')">
            Passwörter sind nicht identisch!
          </div>
        </div>
        <div *ngIf="!passwordChanged">
          <br />
          <div class="form-group">
            <button [disabled]="loading" class="btn btn-default" (click)="changePassword()">Passwort ändern</button>
          </div>
        </div>

        <div>
          <a *ngIf="passwordChanged">
            <strong>
              Dein Passwort wurde geändert.
            </strong>
          </a>
        </div>

        <div *ngIf="errorMessage" class="ra-msg error">{{errorMessage}}</div>
      </div>
    </div>
  </div>
</form>
